@import 'base/_variables.css';
@import 'base/_typography.css';


@import 'layout/_containers.css';


@import 'components/_button.css';
@import 'components/_price-card.css';
@import 'components/_tabs.css';


@import 'sections/_header.css';
@import 'sections/_footer.css';
@import 'sections/_hero.css';
@import 'sections/_about-us.css';
@import 'sections/_clubs.css';
@import 'sections/_promotions.css';
@import 'sections/_trainers.css';
@import 'sections/_prices.css';
@import 'sections/_club-features.css';
@import 'sections/_club-intro.css';
@import 'sections/_club-gallery.css';
@import 'sections/_club-contacts.css';
@import 'sections/_profile-header.css';
@import 'sections/_abonements.css';
@import 'sections/_goals.css';
@import 'sections/_login.css';





