

.hero-banner {
    width: 100%;
    height: 100vh; 
    background-image: url('../../assets/images/main-banner/main-banner1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
}


.hero-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
}

.hero-content {
    position: relative;
    z-index: 2; 
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

    
    
    
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    width: 100%; 
    height: 100%; 
    
    padding-left: var(--container-padding-x, 20px); 
    padding-right: var(--container-padding-x, 20px); 
}

.hero-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
}