

.profile-header {
    background-color: #000; 
    padding: 8px 0; 
    color: #fff; 
}

.profile-header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 0 auto; 
}


.profile-header .logo .header-logo-image {
    height: 60px; 
    
    display: block; 
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-name {
    font-size: 23px; 
    font-weight: 500;
    color: #fff; 
}