body {
    font-family: var(--font-family-main);
    color: var(--text-color-light);
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--link-color);
}