
.tabs-navigation {
    display: flex;
    
    gap: 15px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    padding-left: 0; 
}

.tab-button {
    background-color: transparent; 
    color: var(--text-color-light);
    border: 2px solid var(--primary-color); 
    border-radius: 50px;
    padding: 12px 25px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    white-space: nowrap;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(255, 140, 0, 0.3); 
}

.tab-button:hover {
    background-color: rgba(255, 140, 0, 0.1); 
    color: var(--text-color-light); 
    box-shadow: 0 0 15px rgba(255, 140, 0, 0.5);
    border-color: var(--primary-color); 
}

.tab-button.active {
    background-color: var(--primary-color); 
    color: #fff;
    border-color: var(--primary-color); 
    box-shadow: 0 0 20px rgba(255, 140, 0, 0.6); 
}