.main-header {
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 8px 0; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height); 
    
    
    
    
}



.logo img {
    height: 40px; 
    filter: drop-shadow(0 0 5px rgba(255, 140, 0, 0.6)); 
    transition: filter 0.3s ease;
}

.logo img:hover {
    filter: drop-shadow(0 0 8px rgba(255, 140, 0, 0.9));
}

.main-nav .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px; 
}

.main-nav .nav-link {
    font-size: 1.1em;
    color: var(--link-color);
    padding: 10px 0;
    transition: color 0.3s ease;
}

.main-nav .nav-link:hover,
.main-nav .nav-link.active {
    color: var(--link-hover-color);
}

.main-nav .dropdown-toggle .arrow-down {
    margin-left: 5px;
    font-size: 0.8em;
}


.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--bg-dark-header);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    z-index: 1;
    list-style: none;
    padding: 10px 0;
    margin-top: 5px; 
    border-radius: 5px;
}

.dropdown:hover .dropdown-menu {
    display: block; 
}

.dropdown-menu li a {
    color: var(--text-color-light);
    padding: 12px 16px;
    display: block;
    text-align: left;
    transition: background-color 0.3s ease;
}

.dropdown-menu li a:hover {
    background-color: #333;
    color: var(--primary-color);
}

.logo {
    font-size: 2.2em; 
    font-weight: bold; 
    color: var(--primary-color); 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    text-shadow:
        0 0 5px rgba(255, 140, 0, 0.7),   
        0 0 15px rgba(255, 140, 0, 0.5),  
        0 0 25px rgba(255, 140, 0, 0.3);  
    transition: text-shadow 0.3s ease; 
}

.logo:hover {
    text-shadow:
        0 0 8px rgba(255, 140, 0, 0.9),
        0 0 20px rgba(255, 140, 0, 0.7),
        0 0 35px rgba(255, 140, 0, 0.5);
}

.main-nav .nav-link {
    position: relative;
    font-size: 1.1em;
    color: var(--link-color);
    padding: 10px 0;
    transition: color 0.3s ease;
}

.main-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0; /* Изменил на 0, чтобы подчеркивание было внизу */
    width: 0;
    height: 2px;
    background-color: var(--link-hover-color); /* Используйте ваш цвет для подчеркивания */
    transition: width 0.3s ease;
}

.main-nav .nav-link:hover::after,
.main-nav .nav-link.active::after {
    width: 100%;
}

/* Стили для активной ссылки, когда она подсвечена */
.main-nav .nav-link.active {
    color: var(--link-hover-color); /* Цвет текста активной ссылки */
}